Django==5.1.15
djangorestframework==3.17.2
djangorestframework-simplejwt==5.5.1
django-filter==25.1
django-phonenumber-field==8.5.0
phonenumberslite==9.0.36
drf-yasg==1.21.15
Pillow==12.3.0
django-allauth==65.19.0
django-cors-headers==4.9.0
requests==2.34.2
python-dotenv==1.2.2
gunicorn==23.0.0
psycopg2-binary==2.9.10
